<!DOCTYPE html>
<html ng-app="APP">
<head>
    <meta charset="utf-8">
    <title>DOM Manipulation</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div ng-controller="theController">
        <b ng-class="[style1,style2]" ng-repeat="item in items">
            {{item.title}}
        </b>
        <hr/>
        <b ng-class="{'blue':item.type === 1, 'red':item.type === 3}" ng-repeat="item in items">
            {{item.title}}
        </b>

    </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>